{% extends 'base.html' %}
{% load static %}
// le titre de la page
{% block title %} <title>Dashboard</title> {% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/style_dashboard.css' %}"/>
{% endblock style %}
{% block script %}
    <script src="{% static 'scripts/plotly.js' %}"></script>
    <script src="{% static 'scripts/dashboard_script.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock script %}

// Visualisation des graphes

{% block content %}

    <main class="main-content">
        <div class="dashboard">

            <div class="main">
                <div class="title-and-button">
                    <h1 class="title">Rapport</h1>
                </div>
                <div class="month-picker-container">
                    <div class="month-picker-button">
                        <label for="monthInput">Mois: </label>
                        <input type="month" id="monthInput" name="monthPicker" onchange="myFunction(this.value)">
{#                        <h2>Mois en cours :  </h2>  <p id="mois-actuel">{{ date_now| date:"F Y" }}</p>#}
                    </div>
                    <button class="download-button">
                        <i class="fas fa-download"></i> Télécharger
                    </button>
                </div>
                <div class="info-container">
                    <div class="new-div">
                        <p>Critical</p>
                        <h2>{{ somme_patchs.total_critical }}</h2>
                    </div>
                    <div class="new-div">
                        <p>Important</p>
                        <h2>{{ somme_patchs.total_important }}</h2>
                    </div>
                    <div class="new-div">
                        <p>Moderate</p>
                        <h2>{{ somme_patchs.total_moderate }}</h2>
                    </div>
                    <div class="new-div">
                        <p>Low</p>
                        <h2>{{ somme_patchs.total_low }}</h2>
                    </div>
                </div>
            </div>

        </div>


        <div class="graph-container">
            <div id="prod-plot" class="graph"></div>
            <div id="hors_prod-plot" class="graph"></div>
            <div id="total-plot" class="graph"></div>

        </div>

    </main>





{% endblock content %}