{% extends 'base_simple.html' %}
{% load static %}
{% block title %} <title>Création de compte</title> {% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/style_signup.css' %}">
{% endblock style %}

{% block content %}
    <div class="container">
        <h2>Inscription</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="error">{{ field.errors }}</div>
                </div>
            {% endfor %}
            <button type="submit">S'inscrire</button>
            <div class="non-field-errors">{{ form.non_field_errors }}</div>
        </form>
        <a href="{% url 'login' %}" class="login-link">Vous avez déjà un compte?</a>
    </div>
{% endblock content %}
