{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Inventaires</title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/style_inventaires.css' %}"/>
    <link href="{% static 'external_libraries/DataTables/datatables.css' %}" rel="stylesheet">
{% endblock style %}

{% block script %}
    <script src="{% static 'external_libraries/jquery/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'scripts/inventaire_script.js' %}" defer></script>
    <script src="{% static 'external_libraries/DataTables/datatables.js' %}"></script>
{% endblock script %}

{% block content %}
    <main class="main-content">
        <div class="main">
            <div class="title-and-button">
                <h1 class="title">Inventaires</h1>
                <a href="{% url 'importer' %}">
                    <button class="import-button">
                        <i class='bx bx-import'></i>  &nbsp;&nbsp;Importer un fichier
                    </button>
                </a>
            </div>
            <div class="additional-info">
                <h3 class="machine-text">Machines VM</h3>
                <p class="machine-count"> {{ total_machine }}</p>
            </div>
        </div>

        <div class="table-container">
            <table id="myTable" class="stripe content-table" style="width:100%">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Host</th>
                        <th>IP</th>
                        <th>Group</th>
                        <th>Operating System</th>
                        <th>Critical</th>
                        <th>Important</th>
                        <th>Moderate</th>
                        <th>Low</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vm in inventaires %}
                        <tr>
                            <td>
                                <a href="{% url 'update-vm' vm.slug %}">
                                    <button class="action-button">
                                        <i class="bx bxs-pen"></i>
                                    </button>
                                </a>
                                <a href="{% url 'delete-vm' vm.slug %}">
                                    <button class="action-button delete">
                                        <i class="bx bxs-trash"></i>
                                    </button>
                                </a>
                            </td>
                            <td>{{ vm.nom_machine }}</td>
                            <td>{{ vm.ip }}</td>
                            <td>{{ vm.group }}</td>
                            <td>{{ vm.os }}</td>
                            <td>{{ vm.critical }}</td>
                            <td>{{ vm.important }}</td>
                            <td>{{ vm.moderate }}</td>
                            <td>{{ vm.low }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
          <button class="add-button"><i class='bx bx-plus'></i> Ajouter</button>
        </div>

    </main>
{% endblock content %}
