{% extends 'base.html' %}
{% load static %}
// le titre de la page
{% block title %} <title>Inventaires</title> {% endblock title %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="{% static 'scripts/inventaire_script.js' %}" defer></script>
{% endblock script %}

// Visualisation des graphes

{% block content %}


{#    <h1>Inventaires: {{ nb_patched }}</h1>#}
{##}
{#     <table>#}
{#  <thead>#}
{#    <tr>#}
{#            <th>Host</th>#}
{#                <th>IP</th>#}
{#                <th>Host Group</th>#}
{#                <th>Operating System</th>#}
{#                <th>Critical</th>#}
{#              <th>Actions</th>#}
{#    </tr>#}
{#  </thead>#}
{#  <tbody>#}
{#    {% for vm in inventaires %}#}
{#      #}
{#            <tr>#}
{#                <td>{{vm.nom_machine }}</td>#}
{#                <td>{{ vm.ip }}</td>#}
{#                <td>{{ vm.group }}</td>#}
{#                <td>{{ vm.os }}</td>#}
{#                <td>{{ vm.critical }}</td>#}
{#            </tr>#}
{##}
{#            {% endfor %}#}
{#  </tbody>#}
{#</table>#}
{##}
{#    </div>#}
      <div class="text">

    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Host</th>
                <th>IP</th>
                <th>Group</th>
                <th>Operating System</th>
                <th>Critical</th>
                <th>Important</th>
                <th>Low</th>
                 <th>Moderate</th>




            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>



    </div>




{% endblock content %}