{% extends 'base.html' %}
{% load static %}
// le titre de la page
{% block title %} <title>Inventaires</title> {% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/style_inventaires.css' %}"/>
    <link href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" rel="stylesheet">

{% endblock style  %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="{% static 'scripts/inventaire_script.js' %}" defer></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>


{% endblock script %}

// Visualisation des graphes

{% block content %}

    <main class="main-content">
        <div class="main">
            <div class="title-and-button">
                <h1 class="title">Inventaires</h1>
                <a href="{% url 'importer' %}">
                    <button class="import-button">
                        <i class="fas fa-plus"></i> Importer un fichier
                    </button>

                </a>
            </div>
            <div class="additional-info">
                <h3 class="machine-text">Machines VM</h3>
                <p class="machine-count"> {{ total_machine }}</p>
            </div>


        </div>

      <div class="table-container">
       <table id="myTable" class="stripe content-table" style="width:100%">
            <thead>
            <tr >

                <th>Actions</th>
                <th>Host</th>
                <th>IP</th>
                <th>Group</th>
                <th>Operating System</th>
                <th>Critical</th>
                <th>Important</th>
                <th>Moderate</th>
                <th>Low</th>


            </tr>
            </thead>
            <tbody>
            {% for vm in inventaires %}

                <tr style=" background-color: white">
                    <td>
{#                             <button><i class="fa-solid fa-eye"></i></button>#}
{#                                <button><i class="fa-solid fa-pen"></i></button>#}
{#                                <button><i class="fa-solid fa-trash"></i></button>#}
                        <a href="{% url 'update-vm' vm.slug %}">
                            <button id="openModalBtn">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                        </a>




                        <a href="{% url 'delete-vm' vm.slug %}">
{#                              <i class='bx bxs-trash'></i>#}
                            <button>
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </a>
                        </td>

                    <td>{{ vm.nom_machine }}</td>
                    <td>{{ vm.ip }}</td>
                    <td>{{ vm.group }}</td>
                    <td>{{ vm.os }}</td>
                    <td>{{ vm.critical }}</td>
                    <td>{{ vm.important }}</td>
                    <td>{{ vm.moderate }}</td>
                    <td>{{ vm.low }}</td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
      </div>



{#     <footer class="footer-distributed">#}
{#      <div class="footer-left">#}
{#        <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo-img">#}
{##}
{#        <p class="footer-links">#}
{#          <a href="#" class="link-1">Home</a>#}
{##}
{#          <a href="#">Inventaires</a>#}
{##}
{#          <a href="#">Rapports</a>#}
{##}
{##}
{#        </p>#}
{##}
{#        <p class="footer-company-name">Société Générale African Business Services © 2024</p>#}
{#      </div>#}
{##}
{#      <div class="footer-center">#}
{#        <div>#}
{#          <i class="fa fa-map-marker"></i>#}
{#          <p><span>Ivoire 2 marina </span> Bd Sidi Mohamed Ben Abdellah, Casablanca</p>#}
{#        </div>#}
{##}
{#        <div>#}
{#          <i class='bx bxl-linkedin-square'></i>#}
{#          <p>Société Générale African Business Services</p>#}
{#        </div>#}
{##}
{#        <div>#}
{#          <i class='bx bx-link' ></i>#}
{#          <p>https://societegenerale.africa/en/</p>#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="footer-right">#}
{#        <p class="footer-company-about">#}
{#          <span>About the company</span>#}
{#          Présent dans 15 pays africains, le groupe Société Générale présente un positionnement unique sur la région, qui permet d’offrir à ses clients l’expertise et le savoir-faire d’une banque internationale et la proximité d’une banque locale. En Afrique, le Groupe accompagne les économies locales et sert 4,3 millions de clients, dont 175 000 entreprises.#}
{#        </p>#}
{##}
{#      </div>#}
{#    </footer>#}

    </main>



{% endblock content %}