{% extends 'base_simple.html' %}

{% block content %}


    {% for machine in machines %}
<div class="machine">
    <h2>le{{ machine.nom_machine }}</h2>
    <p>
        <strong>Date d'importation :</strong> {{ machine.date_import }}<br>
        <strong>IP :</strong> {{ machine.ip }}<br>
        <strong>Groupe :</strong> {{ machine.group }}<br>
        <strong>OS :</strong> {{ machine.os }}<br>
        <strong>Criticité :</strong> {{ machine.critical }}<br>
        <strong>Importance :</strong> {{ machine.important }}<br>
        <strong>Modérée :</strong> {{ machine.moderate }}<br>
        <strong>Faible :</strong> {{ machine.low }}<br>
    </p>
</div>
{% endfor %}

{% endblock content %}