{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>

    {% block title %}
        <title>Accueil du site de reporting</title>
    {% endblock title %}
    {% block style %}
    {% endblock style %}
    {% block script %} {% endblock script %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link href="{% static 'external_labraries/boxicons-2.1.0/css/boxicons.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'scripts/script.js' %}" defer></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="sidebar">
    <div class="logo-details">
        <div class="icon hide" id="logo_sgabs">
            <img src="{% static 'images/absLogo.png' %}" alt="logo de SGABS">
        </div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">

        <li>
            <a href="{% url 'dashboard' %}">
                <i class='bx bxs-report'></i>
                <span class="links_name">Rapports</span>
            </a>
            <span class="tooltip">Rapports</span>
        </li>

        <li>
            <a href="{% url 'inventaires' %}">
                <i class='bx bxs-dashboard'></i>
                <span class="links_name">Inventaires</span>
            </a>
            <span class="tooltip">Inventaires</span>
        </li>
         <li>
            <a href="{% url 'config' %}">
              <i class='bx bx-cog'></i>
                <span class="links_name">Configurations</span>
            </a>
            <span class="tooltip">Configurations</span>
        </li>
        <li class="nav-list__logout">
            {% csrf_token %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit"> <i class="bx bx-log-out" id="log_out"></i></button>

            </form>

        </li>
    </ul>
</div>
<main class="main-content">

    {% block content %}

    {% endblock content %}


</main>


</body>
</html>
