{% extends 'base.html' %}
{% load static %}
// le titre de la page
{% block title %} <title>Configurations</title> {% endblock title %}
{% block style %}
    <link href="{% static 'css/style_config.css' %} " rel="stylesheet">
{% endblock style %}

{% block content %}
    <div class="header">
        <div class="header-text">
            <h1>Configuration</h1>
        </div>
    </div>
    <hr>
    <br>
    <div class="config-section">
        <h2>Version de RedHat Hors support</h2>
        <table>
            <thead>
            <tr>
                <th>Version</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for version in configs %}
                <tr>
                    <td>{{ version }}</td>
                    <td>
                        <a href="{% url 'delete-config-hs'  version.slug%}">
                            <button class="delete-btn"><i class='bx bx-trash'></i> Supprimer</button>
                        </a>

                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
        <br/>

        {#            <label>#}
        {#                <input type="text" name="new_version" placeholder="ex: RedHat 7" required>#}
        {#            </label>#}
        <a href="{% url 'add-config' %}">
            <button type="submit" class="add-btn"><i class='bx bx-plus-circle'></i></button>
        </a>

    </div>

{% endblock content %}
