.main-content {

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 28px;
    color: #333;
    margin: 0;
}

.config-section {
    margin-bottom: 40px;
}

.config-section h2 {
    font-size: 24px;
    color: #333;
}

table {
    width: 40%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

.delete-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.add-version-form {
    display: flex;
    align-items: center;
}

.add-version-form label {
    margin-right: 10px;
}

.add-version-form input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.add-btn i {
    margin-right: 5px;
}